@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.hero {
  width: 100%;
  height: 2250px;
  background: url("My_pic_crop.JPG");
  background-size:100%;
  background-attachment: fixed;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.logo {
  max-height: 60px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #fd4766;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}
.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}
.content {
  position: absolute;
  top: 35%;
  left: 8%;
}
.content .title {
  color: purple;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 10px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color:indianred;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.content h1 span {
  color:cornflowerblue;
}
.content h2 {
  color:darkcyan;
  font-size: 50px;
  font-weight: 20;
  line-height: 100px;
  text-transform:unset;
  width: 100%;
}
.content h4 {
  color:	#292395d8;
  font-size: 30px;
  font-weight: 20;
  line-height: 20px;
  text-transform:unset;
  width: 100%;
}
.content h8 {
  align-items: center;
  color:rgb(255, 0, 183);
  font-size: 20px;
  font-weight: 200;
  line-height:30px;
  text-transform:inherit;
  width:100%;
}
.content p {
  font-size:x-large;
  width: 55%;
  color:rgb(128, 89, 143);
  margin-top: 25px;
  margin-bottom: 30px;
}
.content P ul li{
  font-size:x-large;
  width: 55%;
  color:rgb(255, 0, 93);
  margin-top: 15px;
  margin-bottom: 15px;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 55px;
  height: calc(100% - 100px);
  background-color: var(--accent-color);
  z-index: 100;
}

.timeline-date {
  position: relative;
}

.timeline-date::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  left: -25px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.timeline-items {
  margin: 20px;
}

.timeline-item {
  margin: 50px 0;
}